@model Person
@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1>Index</h1>
    <form method="post" class="py-5">
        <div class="py-1">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" />
        </div>
        <div class="py-1">
            <label asp-for="Age">Age</label>
            <input asp-for="Age" />

        </div>
        <div class="py-1">
            <label asp-for="CivilStatus">Civil Status( s = single | m = married | w = widowed )</label>
            <select asp-for="CivilStatus">
                <option value="s">Single</option>
                <option value="m">Married</option>
                <option value="w">Widowed</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
    </form>
    <a asp-controller="Person" asp-action="CreateRandomPeople" class="btn btn-primary">
        <i class="bi bi-plus"></i> Add Random Records
    </a>
    <a asp-controller="Person" asp-action="DeleteAllRecords" class="btn btn-primary">
        <i class="bi bi-trash"></i> Delete all Records
    </a>
</div>
